.insModel {
    height: auto;
    padding: 3px 0;
    box-sizing: border-box;
    display: block;
    .edit-name-zone {
        height: auto;
        display: inline-block;
        .name {
            width: 200px;
            height: auto;
            display: inline-block;
            margin-right: 15px;
        }
        .price {
            width: 215px;
            height: auto;
            display: inline-block;
            margin-right: 15px;
        }
        .address {
            width: 215px;
            height: auto;
            display: inline-block;
            margin-right: 15px;
        }
    }
    .button-zone {
        width: 90px;
        height: auto;
        display: inline-block;
    }
}