<div class="insModel">
  <div class="edit-name-zone">
    <div class="name">
      <gm-input-collection style="width:400px">
        <gm-button class="inline" [ngClass]="buttonClass" icon="fa-shopping-cart" (action)="showEditPhotoWindow()"></gm-button>
        <gm-text-field [(ngModel)]="modelHeli.title" placeholder="Название" type="text" tabIndex="1"></gm-text-field>
      </gm-input-collection>
    </div>
    <div class="price">
      <gm-input-collection>
        <gm-gray-zone icon="fa-globe-americas" class="inline"></gm-gray-zone>
        <gm-text-field [(ngModel)]="modelHeli.siteUrl" placeholder="Сайт" type="text" tabIndex="1"></gm-text-field>
      </gm-input-collection>
    </div>
    <div class="address">
      <gm-input-collection>
        <gm-gray-zone icon="fa-map-marker-alt" class="inline"></gm-gray-zone>
        <gm-text-field [(ngModel)]="modelHeli.address" placeholder="Адрес" type="text" tabIndex="1"></gm-text-field>
      </gm-input-collection>
    </div>
  </div>
  <div class="button-zone" *ngIf="type=='newModel'">
    <gm-button class="primary inline" icon="fa-plus-square" (action)="createModel()" [disabled]="saveDisabled" [isBusy]="isBusy"></gm-button>
  </div>
  <div class="button-zone" *ngIf="type=='currentModel'">
    <div style="width:40px; height: auto; display: inline-block; margin-right: 8px;">
      <gm-button class="primary inline" icon="fa-save" (action)="editModel()" [isBusy]="isBusy" [disabled]="saveDisabled"></gm-button>
    </div>
    <div style="width:40px; height: auto; display: inline-block; ">
      <gm-button class="danger inline" icon="fa-trash" (action)="showWindow()" [isBusy]="isBusy"></gm-button>
    </div>
  </div>
</div>