.panel {
    margin: 15px 0;
    overflow: hidden;
    float: left;
    padding: 25px 25px;
    .limits {
        width: 430px;
        .title {
            font-weight: 500;
            font-size: 25px;
            text-transform: uppercase;
        }
        .limitbox {
            display: inline-block;
            .currency {
                font-weight: 700;
                margin-top: 20px;
                margin-bottom: 5px;
            }
        }
    }
}

.panelleft {
    margin: 15px 0;
    overflow: hidden;
    float: right;
    .brandmodels {
        .title {
            font-weight: 500;
            font-size: 25px;
            text-transform: uppercase;
        }
        .brands {
            float: left;
            padding: 25px 25px;
        }
        .models {
            float: right;
            padding: 25px 25px;
        }
    }
}

.panel.brand {
    width: 100%;
    box-sizing: border-box;
}