<div class="container">
    <div class="panel z-depth-1">
        <div class="limits">
            <div class="title">Лимиты</div>
            <div class="limitbox">
                <div class="currency">Рубли</div>
                <app-limit-controller [limitArray]="RUBLimits" [currency]="0" (hasToUpdate)="updateLimits()"></app-limit-controller>
            </div>
            <div class="limitbox">
                <div class="currency">Доллары</div>
                <app-limit-controller [limitArray]="USDLimits" [currency]="1" (hasToUpdate)="updateLimits()"></app-limit-controller>
            </div>
            <div class="limitbox">
                <div class="currency">Евро</div>
                <app-limit-controller [limitArray]="EURLimits" [currency]="2" (hasToUpdate)="updateLimits()"></app-limit-controller>
            </div>
        </div>
    </div>
    <div class="panelleft z-depth-1">
        <app-res-brand-controller></app-res-brand-controller>
    </div>

    <div class="panel brand z-depth-1">
        <app-ins-brand-controller></app-ins-brand-controller>
    </div>
    <div class="panel brand z-depth-1">
        <app-city-controller [isSeller]="true"></app-city-controller>
    </div>
    <div class="panel brand z-depth-1">
        <app-city-controller [isSeller]="false"></app-city-controller>
    </div>

</div>