<div style="height: auto; padding: 3px 0; box-sizing: border-box; display: block; ">
    <div style="width:190px; height: auto; display: inline-block; margin-right: 15px;">
        <gm-input-collection>
            <gm-text-field [(ngModel)]="limit.awardLimit" placeholder="Размер выплат" type="number" tabIndex="1"></gm-text-field>
            <gm-gray-zone [icon]="icon" class="inline"></gm-gray-zone>
        </gm-input-collection>
    </div>
    <div style="width:120px; height: auto; display: inline-block; margin-right: 15px;">
        <gm-input-collection>
            <gm-text-field [(ngModel)]="limit.price" placeholder="Цена" type="number" tabIndex="1"></gm-text-field>
            <gm-gray-zone [icon]="icon" class="inline"></gm-gray-zone>
        </gm-input-collection>
    </div>
    <div style="width:90px; height: auto; display: inline-block;" *ngIf="type=='newLimit'">
        <gm-button class="primary inline" icon="fa-plus-square" (action)="createLimit()" [disabled]="saveDisabled" [isBusy]="isBusy"></gm-button>
    </div>
    <div style="width:90px; height: auto; display: inline-block;" *ngIf="type=='currentLimit'">
        <div style="width:40px; height: auto; display: inline-block; margin-right: 8px;">
            <gm-button class="primary inline" icon="fa-save" (action)="editLimit()" [isBusy]="isBusy"></gm-button>
        </div>
        <div style="width:40px; height: auto; display: inline-block; ">
            <gm-button class="danger inline" icon="fa-trash" (action)="showWindow()" [isBusy]="isBusy"></gm-button>
        </div>
    </div>
</div>