<div style="height: auto; padding: 3px 0; box-sizing: border-box; display: block; ">
    <div style="width:190px; height: auto; display: inline-block; margin-right: 15px;" *ngIf="type=='currentBrand'">
        <gm-input-collection *ngIf="mode=='edit'">
            <gm-gray-zone icon="fa-trademark" class="inline"></gm-gray-zone>
            <gm-text-field [(ngModel)]="brand.name" placeholder="Название марки" type="text" tabIndex="1"></gm-text-field>
        </gm-input-collection>
        <gm-button [text]="brand.name" [ngClass]="selected?'primary':''" *ngIf="mode=='show'" (action)="selectResBrand()"></gm-button>
    </div>
    <div style="width:190px; height: auto; display: inline-block; margin-right: 15px;" *ngIf="type=='newBrand'">
        <gm-input-collection>
            <gm-gray-zone icon="fa-trademark" class="inline"></gm-gray-zone>
            <gm-text-field [(ngModel)]="brand.name" placeholder="Название марки" type="text" tabIndex="1"></gm-text-field>
        </gm-input-collection>
    </div>
    <div style="width:90px; height: auto; display: inline-block;" *ngIf="type=='newBrand'">
        <gm-button class="primary inline" icon="fa-plus-square" (action)="createResBrand()" [disabled]="saveDisabled" [isBusy]="isBusy"></gm-button>
    </div>
    <div style="width:90px; height: auto; display: inline-block;" *ngIf="type=='currentBrand'">
        <div style="width:40px; height: auto; display: inline-block; margin-right: 8px;">
            <gm-button class="primary inline" [icon]="mode == 'edit'?'fa-save':'fa-edit'" (action)="pushFirstButton()" [isBusy]="isBusy"></gm-button>
        </div>
        <div style="width:40px; height: auto; display: inline-block; ">
            <gm-button class="inline" [ngClass]="mode=='show'?'danger':'primary'" [icon]="mode == 'edit'?'fa-times':'fa-trash'" (action)="pushSecondButton()" [isBusy]="isBusy"></gm-button>
        </div>
    </div>
</div>