@import "../Styles/gm-styles.scss";
.gm-input-collection {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid $divider;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

:host ::ng-deep gm-button,
:host ::ng-deep gm-gray-zone,   {
    width: 100%;
    .gm-button {
        border-radius: 0 !important;
        box-shadow: none !important;
        border-left: 1px solid $divider;
        margin-left: -1px;
    }
    .gm-grayzone {
        border-radius: 0 !important;
        box-shadow: none !important;
        border-left: 1px solid $divider;
        margin-left: -1px;
    }
}