<div class="confirmWindow">
    <div class="titlePlace">
        {{title}}
    </div>
    <div class="textPlace">
        <i class="big-icon fas fa-exclamation-triangle"></i>
        <div>{{message}}</div>
    </div>
    <div class="buttonPlace">
        <gm-button text="Отмена" class="primary inline" (action)="closeNo()" icon="fa-times" style="margin-right: 10px;" *ngIf="!hasNoButton"></gm-button>
        <gm-button text="OK" class="danger inline" (action)="closeYes()" icon="fa-check" ></gm-button>
    </div>
</div>