.confirmWindow {
    overflow: hidden;
    padding: 25px;
    .titlePlace {
        font-weight: 500;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .textPlace {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;
        width: 450px;
        .big-icon {
            font-size: 50px;
            color: #FDD835;
            margin-right: 15px;
        }
    }
    .buttonPlace {
        width: 100%;
        box-sizing: border-box;
        text-align: right;
        margin-top: 10px;
    }
}