<div class="confirmWindow">
  <div class="titlePlace"> Фото квадрокоптера </div>
  <div class="textPlace">
    <div class="uploader">
      <gm-image-uploader [baseUrl]="baseUrl" [uploadLocalUrl]='uploadLocalUrl' [type]="type" [(ngModel)]="filePath"></gm-image-uploader>
    </div>
    <div class="text" [ngClass]="type">
      <i class="big-icon fas fa-exclamation-triangle"></i>
      {{text}}
      <div class="buttonPlace">
        <gm-button text="Отмена" class="primary inline" (action)="closeNo()" icon="fa-times" style="margin-right: 10px;"></gm-button>
        <gm-button text="OK" class="danger inline" (action)="closeYes()" icon="fa-check"></gm-button>
      </div>
    </div>
  </div>

</div>