.confirmWindow {
    overflow: hidden;
    padding: 25px;
    .titlePlace {
        font-weight: 500;
        font-size: 25px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    .textPlace {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        width: 600px;
        .uploader {
            margin-right: 20px;
        }
        .text {
            position: relative;
            height: 256px;
            text-align: justify;
            .big-icon {
                font-size: 50px;
                float: left;
                color: #FDD835;
                margin-right: 15px;
            }
            .buttonPlace {
                width: 100%;
                position: absolute;
                bottom: 0;
                right: 0;
                box-sizing: border-box;
                text-align: right;
                margin-top: 10px;
            }
        }
        .text.partner {
            height: 200px;
        }
    }
}