<app-ins-model *ngFor="let mod of modelArray" [modelHeli]="mod" type="currentModel" (ngOnSuccess)="updateOnSucces($event)"
    (ngOnError)="updateOnError($event)"></app-ins-model>
<app-ins-model type="newModel" [brandId]="brand.id" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)" *ngIf="brand != null"></app-ins-model>