.title {
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.brandController {
    overflow: hidden;
    position: relative;
    width: 345px;
    min-height: 617px;
    box-sizing: border-box;
    padding: 25px;
    float: left;
}

.modelController {
    float: right;
    width: 380px;
    padding: 25px;
}