<div class="brandController">
    <div class="title">Марки (отв.)</div>
    <app-res-brand *ngFor="let brand of brandArray" [brand]="brand" type="currentBrand" [selected]="selectedBrand == brand" (ngOnBrandSelect)="selectedBrand = $event"
        (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-res-brand>
    <app-res-brand type="newBrand" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-res-brand>
</div>
<div class="modelController">
</div>
