<div class="insModel">
  <div class="edit-name-zone">
    <div class="name">
      <gm-input-collection style="width:400px">
        <gm-button class="inline" [ngClass]="buttonClass" icon="fa-helicopter" (action)="showEditPhotoWindow()"></gm-button>
        <gm-text-field [(ngModel)]="modelHeli.name" placeholder="Название модели" type="text" tabIndex="1"></gm-text-field>
      </gm-input-collection>
    </div>
    <div class="price">
      <gm-input-collection>
        <gm-text-field [(ngModel)]="modelHeli.price" placeholder="Цена страховки" type="number" tabIndex="1"></gm-text-field>
        <gm-gray-zone icon="fa-ruble-sign" class="inline"></gm-gray-zone>
      </gm-input-collection>
    </div>
  </div>
  <div class="button-zone" *ngIf="type=='newModel'">
    <gm-button class="primary inline" icon="fa-plus-square" (action)="createModel()" [disabled]="saveDisabled" [isBusy]="isBusy"></gm-button>
  </div>
  <div class="button-zone" *ngIf="type=='currentModel'">
    <div style="width:40px; height: auto; display: inline-block; margin-right: 8px;">
      <gm-button class="primary inline" icon="fa-save" (action)="editModel()" [disabled]="saveDisabled" [isBusy]="isBusy"></gm-button>
    </div>
    <div style="width:40px; height: auto; display: inline-block; ">
      <gm-button class="danger inline" icon="fa-trash" (action)="showWindow()" [isBusy]="isBusy"></gm-button>
    </div>
  </div>
</div>