<div class="gm-grayzone">
    <div class="grayzonecontent">
        <div class="iconplace">
            <i class="fas" [ngClass]="icon" *ngIf="icon"></i>
        </div>
        <div class="textpalce" *ngIf="text"> {{text}} </div>
    </div>
</div>