@import "../Styles/gm-styles.scss";
.gm-grayzone {
    background: $divider;
    padding: 9px 9px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    color: $primary-text;
    position: relative;
    font-size: 1rem;
    user-select: none;
    .iconplace,
    .textpalce {
        display: inline;
        margin: 0 3px;
    }
}

:host(.inline) {
    display: inline-block;
    width: auto;
}

:host(.white) .gm-grayzone {
    background: $text-icon;
}

