.insBrand {
    height: auto;
    padding: 3px 0;
    box-sizing: border-box;
    display: block;
    .name-zone {
        width: 250px;
        height: auto;
        display: inline-block;
        margin-right: 15px;
    }
}