@import "../Styles/gm-styles.scss";
.gm-button {
    background: $text-icon;
    padding: 9px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    white-space: nowrap;
    cursor: pointer;
    color: $primary-text;
    position: relative;
    font-size: 1rem;
    user-select: none;
    .spinner {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 1em;
        height: 1em;
        border-radius: 500rem;
        border: .2em solid rgba(0, 0, 0, .15);
        .spinningpart {
            position: absolute;
            height: 1em;
            width: 1em;
            top: -.2em;
            left: -.2em;
            border: .2em solid rgba(0, 0, 0, 0);
            border-top: .2em solid $text-icon;
            border-radius: 500rem;
            animation: spinner-animation .6s linear infinite;
        }
    }
    .iconplace,
    .textpalce {
        display: inline;
        margin: 0 3px;
    }
}

:host(.inline) {
    display: inline-block;
    width: auto;
}

:host(.primary) .gm-button {
    background: $primary;
    color: $text-icon;
}

:host(.danger) .gm-button {
    background: $danger;
    color: $text-icon;
}
:host(.ok) .gm-button {
    background: $ok;
    color: $text-icon;
}

.gm-button:not(.disabled):active {
    box-shadow: none;
}

.gm-button:focus {
    outline: none;
    background: $divider;
}


:host(.primary) .gm-button:focus {
    background: $primary-dark;
}

:host(.danger) .gm-button:focus {
    background: $danger-dark;
}

:host(.ok) .gm-button:focus {
    background: $ok-dark;
}

.gm-button:hover {
    background: $divider;
}

:host(.primary) .gm-button:hover {
    background: $primary-dark;
}

:host(.danger) .gm-button:hover {
    background: $danger-dark;
}
:host(.ok) .gm-button:hover {
    background: $ok-dark;
}

.gm-button.disabled {
    background: $divider !important;
}