@import "../Styles/gm-styles.scss";
:host {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.gm-modalBackdrop {
    background: rgba(0, 0, 0, 0.4);
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .gm-modal-window {
        background: white;
        min-height: 20px;
        min-width: 20px;
        position: absolute;
        overflow: hidden;
        display: block;
        margin: auto;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
    }
}