.loginbox {
    width: 300px;
    overflow: hidden;
    margin: 100px auto;
    border-radius: 5px;
    padding: 50px;
    .title {
        padding: 6px 9px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        font-weight: 300;
        color: #222;
        font-size: 30px;
        margin-bottom: 10px;
    }
    input {
        width: 100%;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 6px 9px;
        box-sizing: border-box;
        margin: 18px 0 0;
    }
    .errormessage {
        padding: 9px 9px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        background: #ffcdd2;
        border: 1px solid #ef5350;
        color: #ef5350;
        margin: 18px 0;
    }
    .errormessage.hidden {
        background: white;
        border: 1px solid white;
        color: white;
    }
    .button {
        padding: 6px 9px;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        cursor: pointer;
        background: #2196F3;
        color: white;
        margin: 18px 0 0;
    }
    .button:hover {
        background: #1E88E5;
    }
    .button:active {
        box-shadow: none;
    }
    input:focus,
    .button:focus {
        outline: none;
    }
}