<div class="container">
    <div class="loginbox z-depth-1">
        <div class="title">ВХОД</div>
        <gm-input-collection>
            <gm-gray-zone icon="fa-user" class="inline"></gm-gray-zone>
            <gm-text-field [(ngModel)]="username" placeholder="Логин" tabIndex="1"></gm-text-field>
        </gm-input-collection>
        <div style="height:20px"></div>
        <gm-input-collection>
            <gm-gray-zone icon="fa-unlock" class="inline"></gm-gray-zone>
            <gm-text-field [(ngModel)]="password" type="password" placeholder="Пароль" tabIndex="2"></gm-text-field>
        </gm-input-collection>
        <div class="errormessage" [ngClass]="hasError?'':'hidden'"> Неверный логин или пароль! </div>
        <gm-button text="Войти" class="primary" (action)="login()" icon="fa-sign-in-alt" [isBusy]="isBusy" tabIndex="3"></gm-button>
    </div>
</div>