<div style="height: auto; padding: 3px 0; box-sizing: border-box; display: block; ">
    <div style="width:250px; height: auto; display: inline-block; margin-right: 15px;">
        <gm-input-collection>
            <gm-gray-zone icon="fa-helicopter" class="inline"></gm-gray-zone>
            <gm-text-field [(ngModel)]="modelHeli.name" placeholder="Название модели" type="text" tabIndex="1"></gm-text-field>
        </gm-input-collection>
    </div>
    <div style="width:90px; height: auto; display: inline-block;" *ngIf="type=='newModel'">
        <gm-button class="primary inline" icon="fa-plus-square" (action)="createModel()" [disabled]="saveDisabled" [isBusy]="isBusy"></gm-button>
    </div>
    <div style="width:90px; height: auto; display: inline-block;" *ngIf="type=='currentModel'">
        <div style="width:40px; height: auto; display: inline-block; margin-right: 8px;">
            <gm-button class="primary inline" icon="fa-save" (action)="editModel()" [isBusy]="isBusy"></gm-button>
        </div>
        <div style="width:40px; height: auto; display: inline-block; ">
            <gm-button class="danger inline" icon="fa-trash" (action)="showWindow()" [isBusy]="isBusy"></gm-button>
        </div>
    </div>
</div>