<div class="image-uploader" [ngClass]="type">
  <input #fileInput type="file" accept="image/*" (change)="fileChange($event)">
  <div class="image-block" (click)="fileInput.click()">
    <div class="back" *ngIf="type=='heli'">
      <img src="./assets/img/circle.png">
    </div>
    <div class="photo">
      <img [src]="newUploadedImageUrl" *ngIf="value">
    </div>
  </div>
</div>