<div class="brandController">
  <div class="title">Города</div>
  <app-city *ngFor="let brand of brandArray" [isSeller]="isSeller" [brand]="brand" type="currentBrand" [selected]="selectedBrand == brand"
    (ngOnBrandSelect)="selectedBrand = $event" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-city>
  <app-city type="newBrand" [isSeller]="isSeller" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-city>
</div>
<div class="modelController">
  <div class="title">{{title}}</div>
  <app-shop-controller [brand]="selectedBrand" [isSeller]="isSeller" (ngNeedUpdate)="updateOnSucces($event)"></app-shop-controller>
</div>