@import "../Styles/gm-styles.scss";
:host {
    width: 100%;
    .gm-textfield {
        width: 100%;
        input {
            width: 100%;
            position: relative;
            border: none;
            padding: 9px;
            box-sizing: border-box;
            color: $primary-text;
            position: relative;
            font-size: 1rem;
        }
        input:focus {
            outline: none;
        }
    }
}