<div class="brandController">
  <div class="title">Марки (пов.)</div>
  <app-ins-brand *ngFor="let brand of brandArray" [brand]="brand" type="currentBrand" [selected]="selectedBrand == brand" (ngOnBrandSelect)="selectedBrand = $event"
      (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-ins-brand>
  <app-ins-brand type="newBrand" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-ins-brand>
</div>
<div class="modelController">
  <div class="title">Модели</div>
  <app-ins-model-controller [brand]="selectedBrand" (ngNeedUpdate)="updateOnSucces($event)"></app-ins-model-controller>
</div>