<app-limit *ngFor="let lim of limitArray" [limit]="lim" type="currentLimit" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-limit>
<app-limit type="newLimit" [currency]="currency" *ngIf="limitArray.length<3" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)"></app-limit>