<app-res-model *ngFor="let mod of modelArray" [modelHeli]="mod" type="currentModel" (ngOnSuccess)="updateOnSucces($event)"
    (ngOnError)="updateOnError($event)"></app-res-model>
<app-res-model type="newModel" [brandId]="brand.id" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)" *ngIf="brand != null"></app-res-model>