<app-shop *ngFor="let mod of modelArray" [modelHeli]="mod"  [isSeller]="isSeller"  type="currentModel" (ngOnSuccess)="updateOnSucces($event)"
    (ngOnError)="updateOnError($event)"></app-shop>
<app-shop type="newModel" [brandId]="brand.id" [isSeller]="isSeller" (ngOnSuccess)="updateOnSucces($event)" (ngOnError)="updateOnError($event)" *ngIf="brand != null"></app-shop>